script(src="../res/jquery-1.10.2.min.js", charset="UTF-8")
script(src="../res/modernizr-2.6.2.min.js")
script(src="../res/underscore.js")
script(src="../res/backbone.js")
script(src="../res/jquery.knob.js")
script(src="../res/numberAnimate.js")
script(src="js/game.prototype.js")
script(src="js/score.prototype.js")
script(src="js/timer.prototype.js")
script(src="js/app.js")