script(src="vendors/jquery-1.10.2.min.js", charset="UTF-8")
script(src="vendors/modernizr-2.6.2.min.js")
script(src="vendors/underscore.js")
script(src="vendors/backbone.js")
script(src="vendors/jquery.knob.js")
script(src="vendors/numberAnimate.js")
script(src="js/game.prototype.js")
script(src="js/score.prototype.js")
script(src="js/timer.prototype.js")
script(src="js/app.js")